@media screen and (max-width: 592px) {
  nav,
  .menu-item,
  .banner-container {
    flex-direction: column;
  }
  .menu-item li {
    margin-top: 30px;
  }
  .follow-us {
    margin-top: 20px;
  }
  .banner-image,
  .banner-content {
    width: 90%;
  }
  .card-items {
    grid-template-columns: repeat(1, 1fr);
  }
}
